asgi-ipc==1.2.0
asgiref==1.1.1
attrs==16.3.0
autobahn==0.18.2
Automat==0.5.0
channels==1.1.1
constantly==15.1.0
daphne==1.1.0
Django==1.11.2
incremental==16.10.1
msgpack-python==0.4.8
posix-ipc==1.0.0
psycopg2==2.7.1
pytz==2017.2
six==1.10.0
Twisted==17.1.0
txaio==2.7.0
zope.interface==4.3.3
