<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Yay!</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'homemade/assets/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'homemade/assets/game_app.css' %}"></link>

</head>
<script type="text/javascript" src="{% static 'third_party/js/phaser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'third_party/js/jquery-2.0.2.min.js' %}"></script>

<body>
	{% include "home_page/nav-bar.html" %}
	<div id=game_board>
		<script type="text/javascript" src="{% static 'homemade/js/event_handler_generics.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/server_interface.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/tile.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/card.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/card_sprites.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/gameboard.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/game.js' %}"></script>
		<script type="text/javascript" src="{% static 'homemade/js/clientevents.js' %}"></script>
	</div>
</body>

</html>
