div {
    margin-left: 25%;
}

#nav-bar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#nav-bar li {
	padding-bottom: 0px;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font-family: Calibri, sans-serif;
	font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
#nav-bar li a:hover {
    color: #111;
}

#nav-bar img {
	width: 100%;
	height: auto;
}

#nav-bar .image_container .text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 30%;
}

#nav-bar .image_container{
	width: 100%;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

body {
	background-color: #579;
	color: #fff;
}

