<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>Yay!</title>
	</head>
	{% load static %}
	<script type="text/javascript" src="{% static 'third_party/js/phaser.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'third_party/js/jquery-2.0.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'third_party/js/socket.io-1.4.5.js' %}"></script>
<body>
	<script type="text/javascript" src="{% static 'homemade/js/tile.js' %}"></script>
	<script type="text/javascript" src="{% static 'homemade/js/gameboard.js' %}"></script>
	<script type="text/javascript" src="{% static 'homemade/js/clientevents.js' %}"></script>
</body>
</html>
